.swiper {
  width: 100vw;
  padding: 0px;
  align-items: center;
}

.swiper-slide {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.slide-content {
  width: 80%;
  height: 87.5%;
  box-sizing: border-box;
  perspective: 1000px;
  aspect-ratio: 4/3;
  margin: 0;
}

.slide-content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 4/3;
  will-change: transform;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  transform-style: preserve-3d;
}

/* Navigation arrows */
.swiper-button-next,
.swiper-button-prev {
  color: rgba(190, 190, 190, 0.9);
  transition: transform 0.5s ease;
}

.swiper-button-next:hover {
  transform: translateX(5px);
}

.swiper-button-prev:hover {
  transform: translateX(-5px);
}

.swiper-pagination {
  margin-top: 0;
}

.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  background: rgba(190, 190, 190, 0.35);
  opacity: 1;
  margin: 0 4px;
  transition: all 0.5s ease,
    transform 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.swiper-pagination-bullet-active {
  background: rgba(190, 190, 190, 0.9);
  transform: scale(1.3);
}

/* Mobile Screens */
@media (max-width: 768px) {
  .slide-content {
    width: 90%;
    margin: 5% 0;
  }

  .slide-content img {
      box-shadow: 0 7px 15px rgba(0, 0, 0, 0.3);

  }
  .swiper-pagination-bullet {
    margin: 0px 6px !important;
  }

  .swiper-pagination-bullet-active {
    margin: 0px 8px !important;
    transform: scale(1.4);
  }
}