.swiper {
  align-items: center;
  perspective: 1000px;
  overflow: hidden;
}

.swiper-slide {
  width: 60vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px 0;
  transition: all 2s cubic-bezier(0, 0, 0.3, 1);
}

.swiper-slide img {
  width: 40vw;
  object-fit: cover;
  will-change: transform;
  border-radius: 40px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
}

.swiper-slide-active {
  opacity: 1;
  transform: scale(1.05) translateX(0) translateZ(0);
  z-index: 10000;
}

.swiper-slide-prev {
  opacity: 0.6;
  transform: scale(0.75) translateX(30vw) translateZ(200px) !important;
  z-index: 0;
}

.swiper-slide-next {
  opacity: 0.6;
  transform: scale(0.75) translateX(-30vw) translateZ(-200px) !important;
  z-index: 0;
}

/* Navigation bullets */
.swiper-button-next,
.swiper-button-prev {
  color: rgba(190, 190, 190, 0.9);
  transition: transform 2s ease;
}

.swiper-button-next:hover {
  transform: translateX(5px);
}

.swiper-button-prev:hover {
  transform: translateX(-5px);
}

.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  background: rgba(190, 190, 190, 0.35);
  opacity: 1;
  margin: 0 4px;
  transition: all 0.5s ease,
    transform 2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.swiper-pagination-bullet-active {
  background: rgba(190, 190, 190, 0.9);
  transform: scale(1.3);
}

/* Mobile Screens */
@media (max-width: 900px) {
  .swiper-slide img {
    width: 85vw;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  }

  .swiper-pagination-bullet {
    margin: 0px 6px !important;
  }

  .swiper-pagination-bullet-active {
    margin: 0px 8px !important;
    transform: scale(1.4);
  }
}