#root {
  max-width: 100%;
  margin: 0 auto;
  color: #888;
}

.card {
  padding: 2em;
}

.text-body {
  color: #888;
}

.form {
  width: 60vw;
  margin: 0 auto;
}

.title-desktop {
  width: 70%;
  margin: 0;
  max-width: 900px;
  display: block;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.title-mobile {
  width: 50%;
  margin: 0;
  max-width: 900px;
  display: none;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  #root {
    padding: 0px;
  }

  .form {
    width: 100%;
  }

  .title-desktop {
    scale: 1.25;
  }
}
