#root {
  max-width: 100%;
  margin: 0 auto;
  color: #888;
}

.card {
  padding: 2em;
}

.text-body {
  color: #888;
}

.welcome-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  white-space: pre-line;
  line-height: 1.5em;
  width: 60vw;
  text-align: center;
  margin: 20px auto 40px auto;

  .first {
    font-weight: bold;
  }

  .last {
    font-weight: bold;
    font-size: large;
  }
}

.form {
  width: 60vw;
  margin: 40px auto 80px auto;
}

.title-desktop {
  width: 70%;
  margin: 0;
  max-width: 900px;
  display: block;
  margin: 20px auto 0 auto;
}

.title-mobile {
  width: 80%;
  margin: 0;
  max-width: 900px;
  display: block;
  margin: 20px auto 0 auto;
  display: none
}

.location {
  display: flex;
  flex-direction: row;
  gap: 40px;
  justify-content: space-between;
}

.column {
  flex: 1;
}

.column:last-child {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.location .column:first-child {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 10px;
}

.ronesa-title {
  width: 20vw;
  display: block;
  min-width: 200px;
  margin: 0 auto;
}

.schedule {
  width: 40vw;
  display: block;
  margin: 0 auto 20px auto;
  min-width: 300px;
  max-width: 460px;
}

.thanks-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 1.2em;
  margin-top: 80px;
}

.thanks-image {
  position: relative;
  margin-bottom: 20px;
  border-radius: 20px;
  width: 20vw;
  height: 14.67vw;
  overflow: hidden;
  min-width: 300px;
  min-height: 220px;
}

/* Responsive adjustments */
@media (max-width: 1300px) {
  .location {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 900px) {
  #root {
    padding: 0px;
  }

  .form {
    width: 100%;
  }

  .title-desktop {
    scale: 1.25;
  }

  .schedule {
    width: 60vw;
  }

  .title-desktop {
    display: none;
  }
  
  .title-mobile {
    display: block;
  }
}
