.aya-accordion-array {
  /* border-width: 1px;
  border-style: solid;
  border-color: #888; */

}

.horizontal-stack {
  gap: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
}

.horizontal-stack > :last-child {
  margin-left: auto; /* pushes the last item right */
}

.icons {
  color: #c3c3c3;
}

/* .horizontal-stack > * {
  flex: 1;
  min-width: 250px;
} */
